body {
    /* background-image: url(swing.jpg); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;

}

.message {
    background-color: rgba(0, 0, 0, .5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

h1,h4 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

h3 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: large;
}

.responsive {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 50px;
}

.column2 {
    flex: 25%;
    padding: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 10px solid rgba(21, 0, 255, 0.152)
}
p2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}

p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}